.dashboard{
    width: 100vw;
    height: 100vh;
    margin-top:100px;
}

.dashmain{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.sortmain{
    margin-left: 120px;
}

.sort{
    background-color: white;
    border-color: gray;
    font-size: 10px;
    height: 30px;
    margin-right: 10px;
}

.sort:hover{
    background-color:gray;
    color: white;
}

.sort:focus{
    background-color: blue;
    color: white;
}

.search{
    width: 300px;
    height: 30px;
    margin-right: 120px;
    border-radius: 5px;
}

.table{
    margin-left: 120px;
    margin-right: 120px;
}

.head{
    display: grid;
    grid-template-columns: 100px 250px 300px 400px;
    background-color: rgb(215, 215, 215);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top:8%;
    position:sticky;
}

.head1{
    font-size: 15px;
    text-align: center;
}

.table2{
    display: grid;
    grid-template-columns: 50px 300px 300px 600px;
}

.colums{
    border-style: solid;
    border-width: 1px;
    height: 62vh;
    overflow-y: scroll;
}

.body{
    font-size: 15px;
    color:black;
    margin-left: 50px;
}

.pagenation{
    display: flex;
    justify-content: right;
    margin-right: 120px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.number{
    height: 20px;
    color: blue;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}

.select{
    width: 50px;
    height: 25px;
    margin: 10px;
}

.select:hover{
    cursor: pointer;
}

.items{
    margin: 10px;
    font-size: 14px;
}

.arrow{
    height: 40px;
}

.arrow:hover{
    background-color:gray;
    color: white;
}

.arrow:focus{
    background-color: blue;
    color: white;
}

.spinner{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
